<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/Product_Desc.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500&display=swap">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Product Description</title>
    <style>
      .card-wrapper{
    background-color: #000;
    width: 90%;
    margin-top: 0;
}
    .social-links{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }
    .social-links a{
      font-size: 2rem;
      padding: 2rem;
      color: #000;
    }
    </style>
</head>
<body>
    
    <div class="promo-strip">
        Get 25% Off on Every Purchase
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark p-3" style="width: 100%; background-color: #000;">
        <div class="container-fluid">
          <!-- Logo aligned to the right -->
          <div class="col-md-4 text-left">
            <a class="navbar-brand" href="/">
              <img src="/assets/newlogo.png" height="50" alt="Logo">
            </a>
          </div>
      
          <!-- Search bar in the middle -->
          <div class="col-md-4 d-flex justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <form class="form-inline">
                  <div class="input-group" style="width: 30vw;" >
                    <input type="text" style="border-radius:1rem 0 0 1rem;" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-icon">
                    <div class="input-group-append" >
                      <span class="input-group-text" style="border-radius: 0 1rem 1rem 0;background-color: #fff;" id="search-icon">
                        <iconify-icon icon="material-symbols:search"></iconify-icon>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <!-- Cart and Profile aligned to the right -->
          <div class="custom-nav d-flex justify-content-end" style="width: 30%; font-size: 1rem;">
            <% if (content.isLoggedIn === true) { %>
                <a class="nav-link cartButtom" style="color: #fff; font-size: 1.2rem;">
                <iconify-icon icon="bxs:cart-add"></iconify-icon>
                <span style="margin-left: 5px;">Cart</span>
                </a>
                <a class="nav-link" href="/profile" style="color: #fff; font-size: 1.2rem;">
                <iconify-icon icon="gg:profile"></iconify-icon>
                <span style="margin-left: 5px;">Profile</span>
                </a>
              <% } else { %>
                <a class="nav-link cartButtom" style="color: #fff; font-size: 1.2rem;" onclick="alert(`login to access this feature`)">
                   <iconify-icon icon="bxs:cart-add"></iconify-icon>
                   <span style="margin-left: 5px;">Cart</span>
                </a>
                <a class="nav-link" href="/login" style="color: #fff; font-size: 1.2rem;">
                  <iconify-icon icon="material-symbols:login-sharp"></iconify-icon>
                <span style="margin-left: 5px;">Login</span>
                </a>
              <% } %>
           </div>
        </div>
      </nav> 
    <%- include('partials/cart') %>

    <div class="card-wrapper mt-5" style="width: 100%;height: max-content;">

        <div class="cardio" style="width: 100%;grid-column-gap: 10vh;height: 100%;">
            <div class="product-imgs" style="align-self: start;">
                <div class="main-image">
                    <img id="mainProductImage" src='<%= item.imageLink[0] %>' alt="Main Product Image">
                </div>
                <div class="additional-images">
                    <% item.imageLink.forEach((image, index) => { %>
                        <div class="additional-image" onclick="loadImage('<%= image %>')" style="background-color: #fff;height: 25vh;">
                            <img src="<%= image %>" alt="shoe image" style="height:13vh">
                        </div>
                    <% }); %>
                </div>
                <script>
                    function loadImage(image) {
                        document.getElementById('mainProductImage').src = image;
                    }
                </script>
            </div>      

            <div class="product-content" style="align-self: start;">
                <h2 class="product-title"><%= item.name %></h2>
                <a href="#" class="product-link">WhiteWolf Originals</a>
                <div class = "product-rating">
                    <iconify-icon icon="noto:star"></iconify-icon>
                    <span>4.7 | (21 Reviews)</span>
                </div>
               
               <div class="product-price">
                <p class="discount-percentage">
                    <% 
                        const discountPercentage = ((item.originalPrice - item.offeredPrice) / item.originalPrice) * 100;
                    %>
                    <span>-<%= discountPercentage.toFixed(0) %>%  </span> 
                    <p class="new-price"><span>&#8377;<%= item.offeredPrice %></span></p>
                    
                    </p>
                </div>

                <p class="last-price">M.R.P. : <span>&#8377;<%= item.originalPrice%></span></p>
                <p class="tax">Inclusive of all taxes</p>

                <div class="purchase-info">
                    <button type="button" class="btn addCartButton" style="font-size: 5vh;padding: 1vh 2vh;">Add to Cart</button>
                </div>

                <div class="product-detail">
                    <p><%= item.description %></p>
                </div>

                <div class="social-links">
                    <p>Share This Product : </p>
                    <a href = "#">
                      <iconify-icon icon="bi:facebook"></iconify-icon>
                    </a>
                    <a href = "#">
                      <iconify-icon icon="pajamas:twitter"></iconify-icon>
                    </a>
                    <a href = "#">
                      <iconify-icon icon="lucide:instagram"></iconify-icon>
                    </a>
                    <a href = "#">
                      <iconify-icon icon="ic:sharp-whatsapp"></iconify-icon>
                    </a>
                  </div>
            </div>
            
        </div>
    </div>

    <div class="faq-section mt-5 mb-5">
        <div class="faq-question" onclick="toggleFAQ(this)">
            <span>FAQ</span>
            <span class="icon">+</span>
        </div>
        <div class="faq-answer">
            <p>The product comes with a one-year warranty.</p>
        </div>

        <div class="faq-question" onclick="toggleFAQ(this)">
            <span>How to use</span>
            <span class="icon">+</span>
        </div>
        <div class="faq-answer">
            <p>You can initiate a return through our online portal.</p>
        </div>

        <div class="faq-question" onclick="toggleFAQ(this)">
            <span>Key Ingredients</span>
            <span class="icon">+</span>
        </div>
        <div class="faq-answer">
            <p>A: Currently, the product is available in one color option.</p>
        </div>
    </div>

    <div class="parent-container mt-5 mb-5">
      <div class="left-container">
        <div>
          <h2>4.0</h2>
        </div>
        <div>
          <p>
            <iconify-icon icon="material-symbols:star"></iconify-icon>
            <iconify-icon icon="material-symbols:star"></iconify-icon>
            <iconify-icon icon="material-symbols:star"></iconify-icon>
            <iconify-icon icon="material-symbols:star"></iconify-icon>
          </p>
        </div>
        <div>
          <h4>(120 Verified Reviews)</h4>
        </div>
      </div>
      <div class="right-container">
        <canvas id="ratingsChart"></canvas>
      </div>
    </div>

    <div class="product-container">
    </div>

    <footer class="container-fluid mt-5 d-flex flex-column container text-white p-3 footer"style="background-color: #000;">
        <div class=" text-left mt-3 p-5" style="background-color: #070707;">
           <div class="row">
              <div class="col-md-3">
                 <img src="../assets/newlogo.png" alt="Logo" class="img-fluid mb-3" style="width: auto;height: 10vh;">
              </div>
              <div class="col-md-6 d-flex footer-menu">
                 <div class="col-md-6 mr-3 list-unstyled">
                    <li><a href="#" class="text-white">About us</a></li>
                    <li><a href="#" class="text-white">FAQ</a></li>
                    <li><a href="#" class="text-white">Shipping and Payment</a></li>
                    <li><a href="#" class="text-white">Partners</a></li>
                    <li><a href="#" class="text-white">Blog</a></li>
                    <li><a href="#" class="text-white">Contact Us</a></li>
                 </div>
                 <div class="col-md-6 ml-3 list-unstyled">
                    <li><a href="#" class="text-white">Customer Reviews</a></li>
                    <li><a href="#" class="text-white">Hair Care</a></li>
                    <li><a href="#" class="text-white">Skin Care</a></li>
                    <li><a href="#" class="text-white">Face Care</a></li>
                 </div>
              </div>
              <div class="col-md-3 d-flex flex-column align-items-end">
                 <button class="btn btn-light mb-2">Shop Now</button>
                 <p>+(123) 123-99-999</p>
                 <p>info@WhiteWolf.com</p>
              </div>
           </div>
           <div class="row mt-5">
              <div class="col-md-3 social">
                 <ul class="list-unstyled">
                    <a href="#" class="mr-2"><iconify-icon icon="mdi:instagram"></iconify-icon></i></a>
                    <a href="#" class="mr-2"><iconify-icon icon="ic:baseline-whatsapp"></iconify-icon></i></a>
                 </ul>
              </div>
              <div class="col-md-6 d-flex">
                 <p>The Hive Co Working and Business Center<br>Industiral Area Phase-2, Chandigarh</p>
              </div>
              <div class="col-md-3 d-flex flex-column align-items-end">
              </div>
           </div>
        </div>
        <div class="container mt-5">
           <div class="row d-flex justify-content-between">
              <div class="col-md-5">
                 <h3>If you didn't find the products you are interested in or have questions?</h3>
              </div>
              <div class="col-md-6">
                 <p>Enter your email:</p>
                 <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Your email here" aria-label="Your email" aria-describedby="basic-addon2" style="background-color: #000;">
                    <button class="btn btn-outline-secondary" type="button" id="basic-addon2">
                    <iconify-icon icon="ei:arrow-right"></iconify-icon>
                    </button>
                 </div>
              </div>
           </div>
        </div>
        <p class="pl-3">2023 - Copyright, All Rights Reserved.</p>
     </footer>
    <script>
        document.querySelector(`.addCartButton`).addEventListener('click', async () => {
            event.preventDefault();
            try {
                const Id = '<%= item.itemId %>';
                const response = await axios.post('/addItem', { itemId: Id});
                if (response.status === 200) {
                    console.log(response.data.message);
                    // Optionally, update the UI to reflect the item being added to the cart
                } else {
                    console.error('Error adding item to cart:', response.data.message);
                    // Optionally, handle the error and update the UI accordingly
                }
            } catch (error) {
                console.error('Error adding item to cart:', error.message);
                // Optionally, handle the error and update the UI accordingly
            }
        });
    </script>

<script>
    function toggleFAQ(question) {
        const isActive = question.classList.contains('active');
        const faqQuestions = document.querySelectorAll('.faq-question');

        faqQuestions.forEach((faqQuestion) => {
            faqQuestion.classList.remove('active');
            const answer = faqQuestion.nextElementSibling;
            answer.style.maxHeight = '0';
            const icon = faqQuestion.querySelector('.icon');
            icon.innerHTML = '+';
        });

        if (!isActive) {
            question.classList.add('active');
            const answer = question.nextElementSibling;
            answer.style.maxHeight = answer.scrollHeight + 'px';
            const icon = question.querySelector('.icon');
            icon.innerHTML = '❌';
        }
    }
</script>

<script>
  // Sample data for the chart
  var ctx = document.getElementById('ratingsChart').getContext('2d');
  var ratingsChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars'],
      datasets: [{
        label: '',
        data: [10, 20, 30, 25, 15], // Replace with your actual data
        backgroundColor: [
          '#FF5733',
          '#FFD933',
          '#33FF57',
          '#33B5FF',
          '#8333FF'
        ],
        borderColor: [
          '#FF5733',
          '#FFD933',
          '#33FF57',
          '#33B5FF',
          '#8333FF'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          display: false, // Hide the y-axis labels
          beginAtZero: true,
          max: 40 // Adjust as needed based on your data
        },
        x: {
          grid: {
            display: false // Hide the x-axis background lines
          }
        }
      }
    }
  });
</script>

</body>
</html>

