<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ProductStyle.css" />

    <link
      id="canonicalLink"
      rel="canonical"
      href="https://www.whitewolfindia.com/"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var canonicalLink = document.getElementById("canonicalLink");
        canonicalLink.href = "" + window.location.href;
      });
    </script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />

    <script
      type="text/javascript"
      async=""
      src="https://marketing.contlo.com/js/contlo_messaging_v3.js?v=3&shop_id=5f2270ca80ad5ed8ff0bfd78ed56f6d8"
    ></script>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/whitewolflog.png"
    />

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NQVB53VH");
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        try {
          const response = await fetch("/api/products");
          if (!response.ok) {
            throw new Error("Error fetching products");
          }
          const productList = await response.json();

          const context = "<%= content.context %>";
          const filteredProductList = productList.filter((product) => {
            return product.category === context;
          });

          const itemListElements = [];

          filteredProductList.forEach((product, index) => {
            const itemUrl = `https://www.whitewolfindia.com/products/${product.itemId}`;
            const item = {
              "@type": "ListItem",
              position: index + 1,
              name: product.name,
              url: itemUrl,
            };
            itemListElements.push(item);
          });

          const jsonLdSchema = {
            "@context": "https://schema.org/",
            "@type": "ItemList",
            itemListElement: itemListElements,
          };

          const jsonLdString = JSON.stringify(jsonLdSchema, null, 2);

          const scriptElement = document.createElement("script");
          scriptElement.type = "application/ld+json";
          scriptElement.textContent = jsonLdString;

          const existingJsonLdScript = document.querySelector(
            "script[type='application/ld+json']"
          );
          if (existingJsonLdScript) {
            existingJsonLdScript.remove();
          }

          document.body.appendChild(scriptElement);
        } catch (error) {
          showAlert("Error while fetching products", "danger");
        }
      });
    </script>

    <title><%= content.metaTitle %></title>

    <meta name="title" content="<%= content.metaTitle %>" />
    <meta name="description" content="<%=content.metaDescription %>" />

    <meta property="og:site_name" content="Whitewolf India" />
    <meta
      property="og:image"
      content="https://www.whitewolfindia.com/assets/whitewolfblacklogo.png"
    />
    <!-- <meta property="og:url" content="https://www.whitewolfindia.com/<% content.context.toLowerCase().replace(/\s+/g, '-')%>"> -->
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="64" />
    <meta property="og:image:height" content="314" />
    <meta property="og:title" content="<%= content.metaTitle %>" />
    <meta property="og:description" content="<%=content.metaDescription %>" />

    <style>
      body {
        background-color: #000;
      }
      .banner {
        margin-top: 15vh;
        background-color: #000;
        padding: 5vh;
      }
      .page {
        width: 100%;
        background-color: #000;
        padding: 2rem;
        min-height: 80vh;
      }

      footer a {
        text-decoration: none;
      }

      .social ul a {
        font-size: 3vh;
        margin-right: 2vh;
        color: #fff;
      }

      .accordion-item {
        background-color: #000 !important;
        margin-top: 1rem;
        border: none;
        border-radius: 0 !important;
        border-bottom: 1px solid white;
        box-shadow: none !important;
        outline: none !important;
      }

      .accordion-item:active {
        outline: none !important;
        box-shadow: none !important;
      }

      .accordion-item:focus,
      .accordion-button:focus,
      .accordion-header button:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      .accordion-item:active,
      .accordion-button:active,
      .accordion-header button:active {
        outline: none !important;
        box-shadow: none !important;
      }

      .accordion-button button:focus {
        border-bottom: 1px solid #fff;
      }

      .accordion-body {
        background-color: black !important;
        color: white !important;
      }
      .accordion-button,
      .accordion-header button {
        padding-top: 2vh;
        padding-bottom: 2vh;
        color: white !important;
        background-color: #000 !important;
        outline: none !important;
        border: none !important;
      }

      .accordion-header:active {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #fff;
      }

      .accordion-header button:active {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #fff !important;
      }

      .accordion-button:active,
      .accordion-button:focus,
      .accordion-header button:active,
      .accordion-header button:focus {
        border-bottom: 1px solid white !important;
      }

      .accordion-body a {
        color: white !important;
      }

      .accordion-item {
        border-bottom: 1px solid white;
      }

      .accordion-item:not(:last-child) {
        margin-bottom: 1rem;
      }

      .filters h4 {
        font-size: 5vh;
      }

      .sort-filter select {
        border-radius: 0;
        outline: none !important;
        box-shadow: none !important;
      }

      .sort-filter select:active {
        box-shadow: none !important;
        outline: none !important;
      }

      .sort-filter select:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      .grids {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        grid-column-gap: 20px;
      }

      .product-grid {
        padding: 0 !important;
        margin: 0 !important;
        width: 90%;
        overflow-x: scroll;
        scrollbar-width: 1px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        grid-row-gap: 20px !important;
      }

      #productGrid {
        gap: 10px !important;
        overflow: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      #productGrid::-webkit-scrollbar {
        display: none;
      }

      .product-card {
        width: 31%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        line-height: 30px;
        background-color: #000;
        color: #fff !important;
        margin: 5px;
        padding: 0;
        color: #fff;
        border-radius: none;
        transition: transform 0.2s;
        height: auto;
      }

      .product-details {
        margin-top: -2vh !important;
        padding: 0 !important;
        text-align: left;
        width: 100%;
        flex-wrap: wrap;
      }

      .product-details img {
        width: auto;
        height: 10vh;
        position: absolute;
        top: 0;
        background-color: #fff;
      }

      .product-image {
        width: 100%;
        height: auto;
        margin: 0;
        object-fit: cover;
        transition: transform 1s ease-in-out;
        display: block;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border-radius: none;
      }

      .product-image:hover {
        transition: 1s ease-in-out;
      }

      .Liked {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      @media (max-width: 576px) {
        .accordion {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }

        .product-title {
          font-size: 15px !important;
        }
        .product-price-discount {
          font-size: 12px !important;
        }

        .product-price {
          font-size: 12px !important;
        }

        .product-card .rws {
          font-size: 12px !important;
          margin-top: 4px !important;
        }

        .banner {
          background-color: #000;
          padding: 1vh;
        }

        .page {
          margin-top: 0rem;
          padding: 1rem;
        }

        .page .filters {
          margin-top: -10vh;
        }

        .filters h4 {
          font-size: 5 vh;
        }

        .accordion-button {
          font-size: 1.2rem;
        }

        .accordion-item {
          margin-top: 0.5rem;
        }

        .accordion-body {
          padding: 1vh;
          font-size: 3vh;
        }

        .Liked h2 {
          font-size: 2rem;
        }
      }

      .slider {
        width: 100%;
        margin: 0 0;
        margin-top: 15vh !important;
        background-color: #000;
      }

      .slick-slide {
        padding: 0 3vh;
      }

      .slider img {
        width: 100%;
        height: auto;
      }

      .slick-prev,
      .slick-next {
        font-size: 3vw;
        color: #fff;
        z-index: 1;
      }

      .slider .slick-next {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
      }

      .slider .slick-prev {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
      }

      @media (max-width: 768px) {
        .slider {
          width: 100%;
          height: max-content;
        }
        .product-card {
          width: 45%;
          line-height: 20px !important;
          border-radius: none !important;
        }

        .slider img {
          height: auto;
          object-fit: contain;
        }

        .slick-slide {
          padding: 0 1vh;
        }

        .slick-prev,
        .slick-next {
          font-size: 5vw;
        }
      }
    </style>
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NQVB53VH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>

    <%- include('partials/nav') %> <%- include('partials/cart') %>
    <div class="slider">
      <!-- <div><img src="../assets/whitewolfblacklogo.png" alt="Slide 1" /></div> -->
      <!-- <div><img src="../assets/Slider2.jpg" alt="Slide 2" /></div>
      <div><img src="../assets/Slider.jpg" alt="Slide 3" /></div> 
      <div><img src="../assets/Slider2.jpg" alt="Slide 4" /></div> -->
    </div>

    <div class="container-fluid page" style="background-color: #000">
      <div class="row">
        <div class="col-md-3 mr-3">
          <div class="filters mt-1 mb-5">
            <h4 class="text-white">Filter</h4>

            <div class="accordion" id="discountFilterAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="discountFilterHeader">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#discountFilterCollapse"
                    aria-expanded="false"
                    aria-controls="discountFilterCollapse"
                  >
                    Discount
                  </button>
                </h2>
                <div
                  id="discountFilterCollapse"
                  class="accordion-collapse collapse"
                  aria-labelledby="discountFilterHeader"
                >
                  <div class="accordion-body">
                    <a class="nav-link" href="#" onclick="setDiscount(10)"
                      >10%</a
                    >
                    <a class="nav-link" href="#" onclick="setDiscount(20)"
                      >20%</a
                    >
                    <a class="nav-link" href="#" onclick="setDiscount(30)"
                      >30%</a
                    >
                    <a class="nav-link" href="#" onclick="setDiscount(40)"
                      >40%</a
                    >
                    <a class="nav-link" href="#" onclick="setDiscount(50)"
                      >50% and above</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion" id="ratingFilterAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="ratingFilterHeader">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#ratingFilterCollapse"
                    aria-expanded="false"
                    aria-controls="ratingFilterCollapse"
                  >
                    Rating
                  </button>
                </h2>
                <div
                  id="ratingFilterCollapse"
                  class="accordion-collapse collapse"
                  aria-labelledby="ratingFilterHeader"
                >
                  <div class="accordion-body">
                    <a class="nav-link" href="#" onclick="setStars(4)"
                      >4 stars & above</a
                    >
                    <a class="nav-link" href="#" onclick="setStars(3)"
                      >3 stars & above</a
                    >
                    <a class="nav-link" href="#" onclick="setStars(2)"
                      >2 stars & above</a
                    >
                    <a class="nav-link" href="#" onclick="setStars(1)"
                      >1 star & above</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9 ml-3">
          <div class="left-product">
            <div class="d-flex justify-content-between m-3">
              <div class="products-found-text">
                <p class="mb-0 text-white products_num" style="font-size: 3vh">
                  0 products found
                </p>
              </div>

              <div class="sort-filter row">
                <div class="col-auto">
                  <select
                    class="form-select text-white w-100"
                    id="sortFilter"
                    style="background-color: #000"
                    aria-placeholder="Sort-By"
                  >
                    <option>Sort By</option>
                    <option>Relevance</option>
                    <option>Popularity</option>
                    <option>Low to High</option>
                    <option>High to Low</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div id="productGrid" class="row"></div>
        </div>
      </div>
    </div>
    <%- include('partials/loader') %> 
    <%- include('partials/footernew') %>

    <div class="modal fade" id="notifyModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Subscribe For Notifications</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="notificationForm">
              <div class="form-group">
                <label for="emailInput" class="mb-1"
                  >Enter Email Address :</label
                >
                <input
                  type="email"
                  class="form-control mb-3"
                  id="subEmail"
                  placeholder="Enter your email"
                  required
                />
              </div>
              <button
                type="submit"
                onclick="addSub(event)"
                class="btn btn-dark"
              >
                Subscribe
              </button>
            </form>
            <div
              id="thankYouMessage"
              class="mt-2 text-success"
              style="display: none"
            >
              Thank you, you'll be notified shortly.
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      let selectedItemForNotify = "";
      function openNotifyModal(arg) {
        selectedItemForNotify = arg;
        $("#notifyModal").modal("show");
      }

      async function addSub(event) {
        event.preventDefault();
        const itemId = selectedItemForNotify;
        await axios
          .post("/subscribe", {
            email: document.querySelector("#subEmail").value,
            item: itemId,
          })
          .then((response) => {
            if (response.status === 200) {
              showAlert("You will be notified via email shortly", "success");
              $("#notifyModal").modal("hide");
            } else if (response.status === 201) {
              showAlert("Item already subscribed", "success");
              $("#notifyModal").modal("hide");
            }
          })
          .catch((err) => {
            showAlert("Error while adding you", "danger");
          });
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script>
      let products = [];
      let categoryFilter = "all";
      let typeFilter = "all";
      let discountFilter = 0;
      let starFilter = 0;
      let totalProducts = 0;

      function setType(arg) {
        typeFilter = arg;
      }
      function setCategory(arg) {
        categoryFilter = arg;
        renderProducts();
      }
      function setDiscount(arg) {
        discountFilter = arg;
        renderProducts();
      }
      function setStars(arg) {
        starFilter = arg;
        renderProducts();
      }

      document.addEventListener("DOMContentLoaded", async () => {
        await fetchProducts("/api/products")
          .then((response) => {
            products = response;
            setType("<%= content.type %>");
            setCategory("<%= content.context %>");
          })
          .catch((err) =>
            showAlert("error while fetching the products", "danger")
          );
      });

      async function fetchProducts(apiEndpoint) {
        const response = await axios.get(apiEndpoint);
        return response.data;
      }

      function attachAddToCartListeners(products) {
        products.forEach((product) => {
          const addButton = document.querySelector(`.add${product.itemId}`);
          if (!addButton) return 0;
          addButton.addEventListener("click", async (event) => {
            event.preventDefault();
            try {
              const response = await addToCart("/addItem", {
                itemId: product.itemId,
              });
              if (response.status === 200) {
                console.log(response.data.message);
                showAlert("item added to cart", "success");
                openCart();
              } else {
                console.error(
                  "Error adding item to cart:",
                  response.data.message
                );
              }
            } catch (err) {
              if (err.response.status === 400) {
                showAlert("Item already in cart", "success");
                openCart();
              } else {
                window.location.href = "/login";
              }
            }
          });
        });
      }
      async function addToCart(apiEndpoint, data) {
        return await axios.post(apiEndpoint, data);
      }

      function renderProducts() {
        const productGrid = document.getElementById("productGrid");
        productGrid.innerHTML = "";

        let filteredProducts =
          categoryFilter === "all"
            ? products
            : products.filter((product) => product.category === categoryFilter);
        filteredProducts =
          typeFilter === "all"
            ? filteredProducts
            : filteredProducts.filter(
                (product) => product[typeFilter] === true
              );
        filteredProducts =
          discountFilter === 0
            ? filteredProducts
            : filteredProducts.filter(
                (product) =>
                  (
                    ((product.originalPrice - product.offeredPrice) /
                      product.originalPrice) *
                    100
                  ).toFixed(0) >= discountFilter
              );
        filteredProducts =
          starFilter === 0
            ? filteredProducts
            : filteredProducts.filter((product) => {
                let count = 0;
                let totalStars = 0;
                if (product.rating) {
                  product.rating.forEach((stars) => {
                    count++;
                    totalStars += stars;
                  });
                } else {
                  count = 1;
                  totalStars = 1;
                }
                return totalStars / count >= starFilter;
              });

        filteredProducts.forEach((product) => {
          const productCard = createProductCard(product);
          productGrid.appendChild(productCard);
        });

        attachAddToCartListeners(filteredProducts);
      }
      function createProductCard(product) {
        const productCard = document.createElement("div");
        productCard.className = "col-md-4 product-card product";
        totalProducts += 1;

        document.querySelector(
          ".products_num"
        ).textContent = `${totalProducts} products found`;

        var words = product.description.split(" ");
        product.description = words.slice(0, 7).join(" ");
        if (words.length > 7) {
          product.description += " ...";
        }

        words = product.name.split(" ");
        product.name = words.slice(0, 3).join(" ");
        if (words.length > 3) {
          product.name += " ...";
        }

        let button;
        let isLoggedIn = Boolean("<%= content.isLoggedIn %>");

        if (product.stock > 0 && Date.parse(product.createdAt) < Date.now()) {
          button = ` <button class="add-to-cart-btn add${product.itemId}" id="liveToastBtn"><i class="fas fa-cart"></i> Add to Cart</button>`;
        } else if (isLoggedIn == true) {
          button = `<button class="add-to-cart-btn text-uppercase" onclick="openNotifyModal('${product.itemId}')" id="liveToastBtn"><i class="fas fa-cart"></i>Notify Me</button>`;
        } else {
          button = `<button class="add-to-cart-btn" onclick="openNotifyModal('${product.itemId}')" id="liveToastBtn"><i class="fas fa-cart"></i>Notify Me</button> `;
        }
        let totalRating = 0;
        for (const review of product.ratings) {
          totalRating += review.rating;
        }
        const averageRating =
          product.ratings.length > 0 ? totalRating / product.ratings.length : 0;
        productCard.innerHTML = `
            <a href="/products/${product.itemId}" >
            <div class="product-image-container">
              <img class="product-image" src="${product.imageLink[0]}" alt="${
          product.name
        }">
              <img class="product-image hover-image" src="${
                product.imageLink[1] || product.imageLink[0]
              }" alt="${product.name}" style="display:none">
            </div>
            <div class="product-details">
                    ${
                      product.bestSeller
                        ? '<img class="best-seller" src="../assets/best-seller.png">'
                        : ""
                    }
                    ${
                      product.newArrival
                        ? '<img class="new-arrival" src="../assets/new-arrival.png">'
                        : ""
                    }
                    <div class="category-badge text-white corner-round p-1" style="display:none;">${
                      product.category
                    }</div>
                    <div class="product-title"><a href="/products/${
                      product.itemId
                    }" style="text-decoration:none;color:#fff">${
          product.name
        }</a></div>
                    <div class="product-description d-none">${
                      product.description
                    }</div>
                    <div class="mb-0 p-0">
                  <div class="d-flex bolder product-price-discount justify-content-center align-items-center">
                        <div class="original-price">MRP : <span class="text-decoration-line-through">&#8377;${
                          product.originalPrice || ""
                        }</span>
                        </div>
                        <div class="product-price ml-2 mr-2">&#8377;${
                          product.offeredPrice
                        }
                        </div>
                      <div class="product-discount d-flex justify-content-end text-success text-uppercase"> ${(
                        ((product.originalPrice - product.offeredPrice) /
                          product.originalPrice) *
                        100
                      ).toFixed(0)}% Off
                    </div>
                  </div>
                </div>
                <p style="text-align:center;font-weight:300;" class="rws"><iconify-icon icon="noto:star"></iconify-icon> ${averageRating.toFixed(
                  1
                )} | ${product.ratings.length || 0} Reviews</p>
        ${button}
            </div>
            </a>
            `;

        const productImageContainer = productCard.querySelector(
          ".product-image-container"
        );
        const mainImage = productImageContainer.querySelector(".product-image");
        const hoverImage = productImageContainer.querySelector(".hover-image");

        productImageContainer.addEventListener("mouseenter", function () {
          mainImage.style.display = "none";
          hoverImage.style.display = "block";
        });

        productImageContainer.addEventListener("mouseleave", function () {
          mainImage.style.display = "block";
          hoverImage.style.display = "none";
        });

        return productCard;
      }

      const container = document.getElementById("productContainer");
      products.forEach((product) => {
        const productCard = createProductCard(product);
        container.appendChild(productCard);
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".slider").slick({
          autoplay: true,
          dots: false,
          infinite: true,
          pauseOnHover: true,
          centerMode: true,
          centerPadding: "0%",
          arrows: false,
        });
      });
    </script>
  </body>
</html>
